
@{
    ViewBag.Title = "Index";
}

<h2>Created Database</h2>
<a href="~/AddCategories.aspx">Add Categories</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="~/Add Products.aspx">Add Products</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="~/View_Detail.aspx">View Detail</a>



